*
{
padding:0;
margin:0;
box-sizing:border-box;
}
.cards
{
width:100%;
margin:40px auto;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-gap:30px;
margin-left:150px;

}
.cards h3{
    color:#D3D3D3;
    font-size:20px;
}
h1{
    margin-left:80px;
}
.frame img
{
width:200px;
margin-left:50px;
}
.cards:hover{
    transform: scale(1.2);
    transition: 1s;
    z-index:1;
}
.card{
    width:100%;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;
    margin-left:150px;
}